<div class="lg:min-h-screen bg-[#16151A] pt-24">
    <div class="lg:w-4/5 lg:mx-auto mx-8 lg:flex lg:min-h-screen">
      <!-- Sidebar -->
      <div class="lg:w-1/4 text-white mt-2  md:mt-12">
        <h2 class="text-2xl font-bold mb-4">Терминал IFXBIT</h2>
        <p class="text-[#707579] text-base lg:-mt-2 mb-8">Гайд по функциям</p>
        <ul class="mt-8 hidden lg:flex flex-col">
          <li class="mb-2"><a href="">Торговля</a></li>
          <li class="mb-2"><a href="">Калькулятор трейдера</a></li>
          <li class="mb-2"><a href="">История ордеров</a></li>
          <li class="mb-2"><a href="">Торговые сигналы</a></li>
          <li class="mb-2"><a href="">Паттерны</a></li>
          <li class="mb-2"><a href="">Паттерны</a></li>
          <li class="mb-2"><a href="">Календарь трейдера</a></li>
        </ul>
      </div>
  
      <!-- Main Content -->
      <div class="w-full">
        <div class="">
          <img src="assets/img/image 17.png" alt="" class="h-4/5" />
        </div>
        <!-- <div
          class="text-white p-6 rounded-lg flex items-center space-x-4 bg-[#1F1E23]"
        > -->
        <!-- Icon and Title -->
        <div class="text-white rounded-lg bg-[#1F1E23] lg: mt-6 p-4">
          <div class="md:flex md:space-x-2 justify-between">
            <h2 class="text-lg font-semibold flex">
              Торговля
              <img
                src="assets/img/play-circle.png"
                alt=""
                class="w-7 h-7"
              />
            </h2>
  
            <div>
              <button
                class="bg-blue-800 text-blue-300 px-2 py-1 rounded-full hover:bg-blue-700"
              >
                Маркет
              </button>
              <button
                class="bg-gray-700 text-gray-300 px-2 py-1 mx-4 rounded-full hover:bg-gray-600"
              >
                Лимит
              </button>
              <button
                class="bg-gray-700 text-gray-300 px-2 py-1 rounded-full hover:bg-gray-600"
              >
                Стоп
              </button>
            </div>
          </div>
          <p class="text-gray-400 mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="lg:w-4/5 lg:mx-auto mt-16">
      <ul class="hidden lg:flex items-center justify-right text-white text-xl">
        <li class="mr-6 mb-4 text-[#707579]"><a href="">Timeframes</a></li>
        <li class="mr-6 mb-4 text-[#707579]"><a href=""></a>Chart Types</li>
        <li class="mr-6 mb-4 border-b border-white"><a href=""></a>Indicators</li>
        <li class="mr-6 mb-4 text-[#707579]"><a href=""></a>Simple Objects</li>
        <li class="mr-6 mb-4 text-[#707579]"><a href=""></a>Sacred Geometry</li>
        <li class="mb-4 text-[#707579]"><a href=""></a>Patterns</li>
      </ul>
    </div>
  </div>